@{
    ViewBag.Title = "Trang chủ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section styles{
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/css/product-card-style.css")">
}

<div>
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="topadd_bar"><a href="#"><img src="/Content/images/addbanner_728x90_V1.jpg" alt="quảng cáo"></a></div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="featured_slider">
                <h2 class="featured_title">Nhóm sản phẩm</h2>
                <div class="slick_slider">
                    @foreach (var item in ViewBag.ListCategory)
                    {
                        <div role="button" class="single_iteam" id="@item.ProductCategoryId">
                            <img src="@Url.Content(@item.ProductCategoryExtend.FilePath)" alt="Sản phẩm">
                            <div class="carousel-caption slider_tittle">
                                @item.ProductCategoryName
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-lg-7 col-md-7 col-sm-12 col-md-offset-1">
                <div class="middle_content">
                    <h2>Sản phẩm nổi bật</h2>
                    <ul class="cards" style="display: flex;justify-content: center;align-items:center;">
                        @foreach (var item in ViewBag.ListHotProduct)
                        {
                            <li class="cards__item">
                                <div class="card">
                                    <div class="text-center" style="width:auto;height:200px;display: flex;justify-content: center;align-items: center;">
                                        <img style="width:-webkit-fill-available;height:-webkit-fill-available;" src="@Url.Content(item.ProductExtend.FilePath)" />
                                    </div>
                                    <div class="card__content">
                                        <div class="card__title text-center" style="white-space: nowrap; overflow: hidden;text-overflow: ellipsis; padding:5px 0px 13px 0px;font-weight:bold;">@item.ProductName</div>
                                        <p style="font-size:11px !important;display:flex;justify-content:space-around;" class="card__text"><span class="timestamp"><i class="fa fa-clock-o" aria-hidden="true"></i> @item.CreatedDate.ToString("HH:mm:ss")</span><span class="comments">  <i class="fa fa-calendar" aria-hidden="true"></i> @item.CreatedDate.ToString("dd/MM/yyyy")</span><span class="comments">  <i class="fa fa-eye" aria-hidden="true"></i> @item.View</span></p>
                                        <button role="button" class="btn btn--block card__btn">Xem thêm</button>
                                    </div>
                                </div>
                            </li>
                        }
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12">
                <div class="right_sidebar">
                    <div class="single_widget">
                        <h2>Sản phẩm phổ biến</h2>
                        <ul class="ppost_nav wow fadeInDown">
                            <li>
                                <div class="media">
                                    <a class="media-left" href="#"><img style="width:70px;height:70px;" src="~/Content/images/Maynenkhi1.jpg" alt=""></a>
                                    <div class="media-body"><a class="catg_title" href="#">Máy nén khí</a></div>
                                </div>
                            </li>
                            <li>
                                <div class="media">
                                    <a class="media-left" href="#"><img style="width:70px;height:70px;" src="~/Content/images/thietbido.jpg" alt=""></a>
                                    <div class="media-body"><a class="catg_title" href="#">Thiết bị đo</a></div>
                                </div>
                            </li>
                            <li>
                                <div class="media">
                                    <a class="media-left" href="#"><img style="width:70px;height:70px;" src="~/Content/images/550x400.jpg" alt=""></a>
                                    <div class="media-body"><a class="catg_title" href="#">Bộ phận điều khiển</a></div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@*@using (Html.BeginForm("SaveProduct","Home",FormMethod.Post,new { @role="form", @enctype = "multipart/form-data" }))
    {
        <input name="Files" type="file" multiple />
        <button type="submit">Submit</button>
    }*@

@section scripts{
    <script>
        $(document).ready(function () {
            $('.single_iteam').click(function () {
                window.location.href = '@Url.Action("Index", "Product")?productCategoryId='+$(this).attr('id');
            });
        });
    </script>
}