@model HBK.Models.EditCommunityViewModel
@{
    ViewBag.Title = Resources.Langues.EditCommunication;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>@ViewBag.Title</h2>

<link rel="stylesheet" href="~/Content/community.css" />
<style>
    #container {
        padding-bottom: 30px;
        margin-top: -10px;
    }

    .floating-box {
        display: inline-block;
        width: 255px;
        height: 134px;
        margin: 5px;
    }

    .itemFile {
        cursor: pointer;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }

    .button-fix-image {
        margin-right: 15px;
        margin-bottom: 10px;
    }

    .image-display {
        width: 100%;
        max-height: 350px;
    }

    .fileDisp {
        display: none;
    }

    .label-file {
        text-align: center;
        background: #009688;
        padding: 10px;
        color: #fff;
        display: block;
    }

        .label-file:hover {
            background: #3399FF;
            cursor: pointer;
        }

    .span-file {
        display: inline-block;
        display: block;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        vertical-align: middle;
    }

    form {
        margin-top: -15px;
    }

    .RequireText {
        color: red;
    }

    .input-validation-error {
        border: 1px solid #ff0000;
        background-color: #ffeeee;
    }

    .field-validation-error {
        background-color: white;
        border-radius: 4px;
        border: solid 1px #333;
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        text-align: right;
    }
</style>
<div id="container" class="w3-container">
    @using (Html.BeginForm("UpdateCommunication", "Communication", FormMethod.Post, new { role = "form", @enctype = "multipart/form-data", @id = "FormComm" }))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(m => m.CommID)
        @Html.HiddenFor(m => m.ImageDisplayID)
        <div class="form-group">
            <div class="col-md-5">
                <div class="w3-card-4">
                    <label class="w3-display-container w3-text-black image-display">
                        <img id="image-display" class="w3-hover-opacity image-display" src="@Url.Content(Model.ImageDisplay)" alt="Person">
                        <label for="changeImage" id="btnChooseImgae" class="w3-display-bottomright w3-circle w3-btn w3-blue button-fix-image">
                            <span class="glyphicon glyphicon-pencil"></span>
                        </label><span class="fileDisp"><input type="file" id="changeImage" disabled="disabled" class="fileInput" name="ImageDisPlayed" accept="image/gif, image/jpg,image/png,image/jpeg" aria-describedby="fileHelp" /></span>
                    </label>
                    <div class="w3-container" style="margin-top:30px;">
                        <div class="form-horizontal">
                            <div class="form-group">
                                <h7 class="control-label col-md-3">@Resources.Langues.Title:</h7>
                                <div class="col-md-8">
                                    @Html.TextBoxFor(m => m.CommTitle, null, new { @class = "form-control", @placeholder = Resources.Langues.EnterCommunityTitle + "..." })
                                </div>
                            </div>
                            <div class="form-group">
                                <h7 class="control-label col-md-3">@Resources.Langues.Content:</h7>
                                <div class="col-md-8" id="CommContentContainer">
                                    @*@Html.TextAreaFor(m =>m.CommContent, new { @class = "form-control", @rows = "4", @style = "resize: none;", @placeholder = Resources.Langues.EnterCommunityContent + "..." })*@
                                    @*<textarea name="CommContent" style="resize: none;" class="form-control" rows="5" id="commContent" placeholder="@Resources.Langues.EnterCommunityContent..."></textarea>*@
                                    @(Html.Kendo().Editor()
                                  .Name("CommContent")
                                  .Encode(true)
                                  .Tools(tools => tools.Clear().FontName().FontSize().Bold().Italic().Underline().JustifyLeft().JustifyCenter().JustifyRight())
                                  .HtmlAttributes(new { style = "height:500px", aria_label = "editor" })
                                  .Events(events => events
                                  .KeyDown("EditorTextChange"))
                                //.Resizable(resizable => resizable.Content(true).Toolbar(true))
                                //.ImageBrowser(imageBrowser => imageBrowser
                                //    .Image("~/Content/UserFiles/Images/{0}")
                                //    .Read("Read", "ImageBrowser")
                                //    .Create("Create", "ImageBrowser")
                                //    .Destroy("Destroy", "ImageBrowser")
                                //    .Upload("Upload", "ImageBrowser")
                                //    .Thumbnail("Thumbnail", "ImageBrowser")
                                //)
                                .Value(@<text>@Model.CommContent</text>)
                                    )
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-10 col-md-offset-1">
                                    <button id="btnSubmit" style="margin-top:10px;" type="button" class="w3-button w3-block w3-blue"><span class="glyphicon glyphicon-send"></span> <b> @Resources.Langues.Submit</b> </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="w3-card-4">
                    <div class="w3-container" id="images-content">
                        <div id="formCommAtt0" class="form-group text-center">
                            <label style="margin-top:10px;" for="file-img" class="label-file"><span style="padding-left:40px;" class="glyphicon glyphicon-open"></span> <span class="span-file">@Resources.Langues.SelectImageToUpload</span></label>
                            <span class="fileDisp"><input type="file" multiple id="file-img" class="fileInput" name="Images" accept="image/gif, image/jpg,image/png,image/jpeg" aria-describedby="fileHelp" /></span>
                        </div>
                        @foreach (var item in Model.Images)
                        {
                            <label id="@item.FileID" class="w3-display-container w3-text-white image-file"><a href="@Url.Content(item.Url)" data-fancybox><img class="floating-box w3-card-2 w3-hover-opacity" src="@Url.Content(@item.Url)"></a><span class="w3-btn w3-display-topright w3-circle w3-hover-red btn-delete" id="@item.FileID"><b>X</b></span></label>
                        }
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="w3-card-4 w3-leftbar w3-border-gray">
                    <div class="w3-container" id="file-content">
                        <div id="formCommAtt1" class="form-group text-center">
                            <label style="margin-top:10px;" for="file" class="label-file"><span style="padding-left:40px;" class="glyphicon glyphicon-open"></span> <span class="span-file">@Resources.Langues.SelectFileToUpload</span></label>
                            <span class="fileDisp"><input type="file" multiple id="file" class="fileInput" name="Files" accept=".xls,.xlsx ,.doc,.docx,.xml,.ppt,.pptx,.pdf,.txt" aria-describedby="fileHelp" /></span>
                        </div>
                        <div class="list-group">
                            @foreach (var item in Model.Files)
                            {
                                var size = item.FileSize / 1024;
                                <div class="list-group-item-heading">
                                    <div id="@item.FileID" class="itemFile col-xs-10">
                                        <a href="@Url.Content(item.Url)" class="fileName" style="cursor:pointer;"><i>@item.Filename</i><span> <i>(@size KB)</i></span></a>
                                    </div>
                                    @*<div class="tooltip">
                                            <span class="tooltiptext"><i>@Url.Content(@item.Filename)</i><span> <i>(@size KB)</i></span></span>
                                        </div>*@
                                    <div class="col-xs-1">
                                        <span id="@item.FileID" style="margin-left:10px;cursor:pointer;" class="w3-text-red btn-remove-file w3-hover-red"><b>&times;</b></span>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>

<script>
    $(document).ready(function () {
        //$('.itemFile').hover(function () {
        //    $('.tooltiptext').show();

        //})

        $('#FormComm').submit(function () {
            $('#changeImage').removeAttr('disabled');
        });

        $('#CommTitle').keypress(function () {
            if ($('#CommTitle').val().length != 0) {
                $('#CommTitle').prop('class', 'form-control');
            }
        });

        $('#CommContent').keypress(function () {
            if ($('#CommContent').val().length != 0) {
                $('#CommContent').prop('class', 'form-control');
            }
        });

        $('#btnSubmit').click(function () {
            var CommContentHTML = $('#CommContent').data('kendoEditor').value();
            var strippedText = CommContentHTML.replace(/(<([^>]+)>)/ig, "");

            if ($('#CommTitle').val() == '' || strippedText.length == 0) {
                if ($('#CommTitle').val() == '')
                    $('#CommTitle').prop('class', 'form-control input-validation-error');
                if (strippedText.length == 0)
                    $('#CommContentContainer').addClass('input-validation-error');
            }
            else {
                $('#FormComm').submit();
            }
        });

        $('.btn-remove-file').click(function () {
            var id = $(this).attr('id');
            bootbox.confirm({
                message: '@Resources.Langues.AreYouSure',
                buttons: {
                    cancel: {
                        label: 'No',
                        className: 'btn-success'
                    },
                    confirm: {
                        label: 'Yes',
                        className: 'btn-danger'
                    },
                }, callback: function (callback) {
                    if (callback) {
                        $.post('@Url.Action("DeleteCommunityAttachment", "Communication")', { id: id }, function (result) {
                            if (result) {
                                var temp = $('#file-content').find('div[id=' + id + ']');
                                temp.remove();
                            } else {
                                bootbox.alert('@Resources.Langues.ContactAdmin');
                            }
                        }).fail(function () {
                            bootbox.alert('@Resources.Langues.ContactAdmin');
                        })
                        .always(function () {
                            $.unblockUI();
                        });
                    }
                }
            });
        });

        $('.fileName').click(function () {
            //alert('yyyy');
        });

        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#image-display').attr('src', e.target.result);
                }
                reader.readAsDataURL(input.files[0]);
            }
        }

        $('#changeImage').on('change', function (e) {
            var val = $(this).val();
            val = val.substring(val.lastIndexOf('.') + 1).toLowerCase();
            if (val == "gif" || val == "jpg" || val == "png" || val == "jpeg") {
                readURL(this);
            }
            else {
                if ($('#changeImage').val() != "") {
                    bootbox.alert('@Resources.Langues.FileMustBeImage');

                }
                $('#changeImage').val('');
            }

            console.log("input file: ", $('#changeImage').val());
        });

        $('.btn-delete').click(function () {
            var id = $(this).attr('id');
            bootbox.confirm({
                message: '@Resources.Langues.AreYouSure',
                buttons: {
                    cancel: {
                        label: 'No',
                        className: 'btn-success'
                    },
                    confirm: {
                        label: 'Yes',
                        className: 'btn-danger'
                    },
                }, callback: function (callback) {
                    if (callback) {
                        $.post('@Url.Action("DeleteCommunityAttachment", "Communication")', { id: id }, function (result) {
                            if (result) {
                                var temp = $('#images-content').find('label[id=' + id + ']');
                                temp.remove();
                            } else {
                                bootbox.alert('@Resources.Langues.ContactAdmin');
                            }
                        }).fail(function () {
                            bootbox.alert('@Resources.Langues.ContactAdmin');
                        })
                        .always(function () {
                            $.unblockUI();
                        });
                    }
                }
            });
        });

        $('#btnChooseImgae').mouseover(function () {
            $('#changeImage').removeAttr('disabled');
        });

        $('#btnChooseImgae').mouseleave(function () {
            $('#changeImage').attr('disabled', 'disabled');
        });

        $('.image-display').mouseover(function () {
            $('.button-fix-image').show();
        });
        $('.image-display').mouseleave(function () {
            $('.button-fix-image').hide();
        });

        $('#file-img').on('change', function (e) {
            var files = $(this)[0].files;
            if ($(files).length == 0) {
                $('#formCommAtt0').find('.span-file').text('@Resources.Langues.SelectImageToUpload');
            } else if ($(files).length == 1) {
                var fileName = e.target.value.split('\\').pop();
                $('#formCommAtt0').find('.span-file').text(fileName);
                $('#formCommAtt0').find('.label-file').removeClass('input-validation-error');
            } else {
                $('#formCommAtt0').find('.span-file').text($(files).length + ' @Resources.Langues.ImageSelected');
                $('#formCommAtt0').find('.label-file').removeClass('input-validation-error');
            }
        });

        $('#file').on('change', function (e) {
            var files = $(this)[0].files;
            if ($(files).length == 0) {
                $('#formCommAtt1').find('.span-file').text('@Resources.Langues.SelectFileToUpload');
            } else if ($(files).length == 1) {
                var fileName = e.target.value.split('\\').pop();
                $('#formCommAtt1').find('.span-file').text(fileName);
                $('#formCommAtt1').find('.label-file').removeClass('input-validation-error');
            } else {
                $('#formCommAtt1').find('.span-file').text($(files).length + ' @Resources.Langues.FileSelected');
                $('#formCommAtt1').find('.label-file').removeClass('input-validation-error');
            }
        });

        $("[data-fancybox]").fancybox({
            // Options will go here
        });

    });

    function EditorTextChange() {
        $('#CommContentContainer').removeClass('input-validation-error');
        //alert('xxx');
    }
</script>
