@model HBK.Models.ProjectDetailsViewModel
@{
    ViewBag.Title = Resources.Langues.Project;
    Layout = "~/Views/Shared/_Layout.cshtml";

    bool selectInfor, selectComment, selectMember = selectInfor = selectComment = false;
    string action = (string)ViewBag.From;
    bool isAdmin = ViewBag.IsAdmin;
    if (action.Equals("Comment"))
    {
        selectComment = true;
    }
    else if (action.Equals("Member"))
    {
        selectMember = true;
    }
    else
    {
        selectInfor = true;
    }
}
<style type="text/css">
    .chat {
        list-style: none;
        margin: 0;
        padding: 0;
    }

        .chat li {
            margin-bottom: 10px;
            padding-bottom: 5px;
            border-bottom: 1px dotted #B3A9A9;
        }

            .chat li.left .chat-body {
                margin-left: 60px;
            }

            .chat li.right .chat-body {
                margin-right: 60px;
            }


            .chat li .chat-body p {
                margin: 0;
                color: #777777;
            }

        .panel .slidedown .glyphicon, .chat .glyphicon {
            margin-right: 5px;
        }

    .panel-body {
        overflow-y: scroll;
    }

    ::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
        background-color: #F5F5F5;
    }

    ::-webkit-scrollbar {
        width: 12px;
        background-color: #F5F5F5;
    }

    ::-webkit-scrollbar-thumb {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
        background-color: #555;
    }

    @@media (min-width: 992px) {
        .CommentAttachment {
            padding-top: 37px;
        }

        .row.row-eq-height {
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
        }
    }

    .custTextarea {
        width: 98% !important;
    }

    .k-animation-container, .k-animation-container *, .k-animation-container :after, .k-block .k-header, .k-list-container, .k-widget, .k-widget *, .k-widget :before {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
</style>
<link href="~/Content/common.css" rel="stylesheet" />
<link type="text/css" href="@Url.Content("~/Content/Members.css")" rel="stylesheet" />

<script type="text/javascript">
    var selectedContactUid;

    $(document).ready(function () {
        // Attach contact search handler
        $('.search-textbox').on('keyup', function (e) {
            var text = $(e.target).val().toLowerCase();
            var listView = $("#mainWidget").data("kendoListView");

            var dataInView = listView.dataSource.view();
            dataInView.forEach(function (item) {
                var row = $('div[data-uid="' + item.uid + '"]');
                if (item.Fullname.toLowerCase().indexOf(text) > -1) {
                    row.show();
                } else {
                    row.hide();
                }
            });
        });
    });

    function onListViewSelectionChange(e) {
        //console.log("e", e)
        var selecteditem = e.sender.select();
        var dataItem = e.sender.dataItem(selecteditem);

        if (!dataItem) {
            return;
        }

        var template = kendo.template($('#single-contact-template').html());
        var result = template(dataItem);
        $(".single-contact-details").html(result);

        attachButtonHandlers();
    }

    // Attach handlers for each contact buttons
    function attachButtonHandlers() {
        $('.k-single-edit-button').on('click', singleEditClick);
        $('.k-single-delete-button').on('click', singleDeleteClick);
    }

    function singleEditClick(e) {
        @*$.blockUI();
        $.post('@Url.Action("UserDetails", "Member")', { Email: getItemEmail(e) }, function (result) {
            if (result.success) {
                $("#EditAccount_Email").val(result.model.Email);
                $("#ChangePassword_Email").val(result.model.Email);
                $("#EditAccount_FirstName").val(result.model.FirstName);
                $("#EditAccount_LastName").val(result.model.LastName);
                $("#EditAccount_Tel").val(result.model.Tel);
                $("#EditAccount_Address").val(result.model.Address);
                $("#EditAccount_OldPhoto").attr('src', result.model.OldPhoto);
                $("#EditAccount_Country").val(result.model.Country);
                $("#EditAccount_MainSpecialtyType").val(result.model.MainSpecialtyType);
                $("#EditAccount_SNSSite").val(result.model.SNSSite);
                $("#EditAccount_Recommender").val(result.model.Recommender);
                $("#EditAccount_Introduction").val(result.model.Introduction);
                $("#EditAccount_Career").val(result.model.Career);
                $("#EditAccount_CareerDuration").val(result.model.CareerDuration);
                SpecialtyType = $("#EditAccount_SpecialtyType");
                if (result.model.ListSpecialtyType != null && result.model.ListSpecialtyType.length > 0) {
                    $.each(result.model.ListSpecialtyType, function () {
                        SpecialtyType.append($("<option />").val(this.value).text(this.text));
                    });
                    SpecialtyType.val(result.model.SpecialtyType);
                }
                $('#myModal').modal('show');
            } else {
                bootbox.alert('@Resources.Langues.ContactAdmin');
            }
        })
        .fail(function () {
            bootbox.alert('@Resources.Langues.ContactAdmin');
        })
        .always(function () {
            $.unblockUI();
        });*@
        $("#PercentInProject").val(getPercent(e));
        $("#MemberId").val(getMemberId(e));
        $('#myModal').modal('show');
    }

    function singleDeleteClick(e) {
        bootbox.confirm({
            message: getIsLocked(e) == 'true' ? '@Resources.Langues.EnableLockout' : '@Resources.Langues.DeleteProjectMember',
            buttons: {
                confirm: {
                    label: 'Yes',
                    className: 'btn-danger'
                },
                cancel: {
                    label: 'No',
                    className: 'btn-success'
                }
            },
            callback: function (callback) {
                if (callback) {
                    $.blockUI();
                    $.post('@Url.Action("DeleteProjectMember", "Project")', { MemberId: getMemberId(e), PrjctId: PrjctId }, function (result) {
                        if (result) {
                            $("#mainWidget").data("kendoListView").dataSource.read();
                        } else {
                            bootbox.alert('@Resources.Langues.ContactAdmin');
                        }
                    })
                    .fail(function () {
                        bootbox.alert('@Resources.Langues.ContactAdmin');
                    })
                    .always(function () {
                        $.unblockUI();
                    });
                }
            }
        });
    }

    function getItemUid(e) {
        var target = $(e.target);
        var singleItem = target.parents('.contact-view');

        return singleItem.attr('uid');
    }

    function getItemEmail(e) {
        var target = $(e.target);
        var singleItem = target.parents('.contact-view');

        return singleItem.attr('email');
    }

    function getIsLocked(e) {
        var target = $(e.target);
        var singleItem = target.parents('.contact-view');

        return singleItem.attr('IsLocked');
    }

    function getMemberId(e) {
        var target = $(e.target);
        var singleItem = target.parents('.contact-view');

        return singleItem.attr('MemberId');
    }

    function getPercent(e) {
        var target = $(e.target);
        var singleItem = target.parents('.contact-view');

        return singleItem.attr('Percent');
    }

    function onListViewDataBound(e) {
        var listView = e.sender;
        restoreSlection(listView);

        var selectedItem = listView.select();

        if (selectedItem.length === 0) {
            listView.select(listView.element.children().first());
        }
    }

    // Restore previously selected item after ListView DataBound
    function restoreSlection(listView) {
        if (selectedContactUid) {
            var currectContactElement = $('.contact-view[uid="' + selectedContactUid + '"]');
            selectedContactUid = null;
            listView.select(currectContactElement);
        }
    }
</script>
<script type="text/x-kendo-tmpl" id="single-contact-template">
    @if (isAdmin)
    {
        @(new HtmlString("<div class=\"contact-view k-widget\" uid=\"#: uid #\" email=\"#: Email #\" IsLocked=\"#: IsLocked #\" MemberId=\"#: MemberId #\" Percent=\"#: ProjectPercent #\">"));
    }
    else
    {
        @(new HtmlString("<div class=\"contact-view k-widget\" uid=\"#: uid #\" email=\"#: Email #\" MemberId=\"#: MemberId #\">"));
    }
    <div class="header">
        @*<span class="hidden-email" style="display:none">#: Email #</span>*@
        <span class="image-wrapper">
            <img src="#:Avatar#" alt="#:Fullname # @Resources.Langues.Photo" />
        </span>
        <span class="name">
            #:ProjectRole#: #:Fullname#<br />
            #:ProjectPercent#%
        </span>
        # if(IsModifier){#
        <div class="edit-buttons">
            <span class="k-button k-single-edit-button"><span class="icon i-edit"></span></span>
            @if (isAdmin)
            {
                <span class="k-button k-single-delete-button"><span class="icon i-delete"></span></span>
            }
        </div>
        #}#
    </div>
    <div class="details">
        <div class="column">
            <p><span class="label">@Resources.Langues.Name:</span>#: Fullname #</p><br />
            <p><span class="label">@Resources.Langues.Email:</span>#: Email #</p><br />
            <p><span class="label">@Resources.Langues.Country:</span>#: Country #</p><br />
            <p><span class="label">@Resources.Langues.Photo:</span><a href='#: Avatar #'>#:Fullname # @Resources.Langues.Photo</a></p><br />
            <p><span class="label">@Resources.Langues.SNSSite:</span>#: SNSSite #</p><br />
            <p><span class="label">@Resources.Langues.Recommender:</span>#: Recommender #</p><br />
            <p><span class="label">@Resources.Langues.LastLogin:</span>#:kendo.toString(kendo.parseDate(LastLoginDate),"yyyy-MM-dd HH:mm:ss") #</p><br />
            <p><span class="label">@Resources.Langues.RegistrationDate:</span>#:kendo.toString(kendo.parseDate(RegistrationDate),"yyyy-MM-dd HH:mm:ss") #</p><br />
            <p><span class="label">@Resources.Langues.Introduction:</span>#:Introduction#</p><br />
        </div>
    </div>
    </div>
</script>
<div class="row">
    <div class="col-md-10 col-xs-8"><h2>@ViewBag.Title</h2></div>
    <div class="col-md-2 col-xs-4"><a class="btn btn-success btn-block BenRightBtn" href="@Url.Action("Index")">@Resources.Langues.GoToList</a></div>
</div>
<div class="row">
    <div class="col-md-12">
        <img class="img-rounded img-responsive" src="@Url.Content(Model.ImageURL)" />
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="row row-eq-height">
            <div class="col-md-7">
                @*@using (Html.BeginForm("WriteNewComment", "Project", FormMethod.Post, new { role = "form", @enctype = "multipart/form-data", @id = "WriteNewCommentForm" }))
                    {*@
                @(Html.Kendo().TabStrip()
      .Name("tabstrip")
      .Animation(animation =>
          animation.Open(effect =>
              effect.Fade(FadeDirection.In)))
      .Items(tabstrip =>
      {
      tabstrip.Add().Text(Resources.Langues.Information).Selected(selectInfor).Content(
        @<text>
            @if (Model.IsModifier)
            {
                <div class="RightText">
                    <a class="btn btn-info" href="@Url.Action("Edit", new { @id = Model.PrjctId })">@Resources.Langues.Edit</a>
                    &nbsp;|&nbsp;
                    <button class="btn btn-danger" id="btnCommunDel" type="button">@Resources.Langues.Delete</button>
                </div>
            }
            <p>
                <ul class="NormalUL">
                    <li>@Resources.Langues.ProjectName: @Model.ProjectName</li>
                    <li>@Resources.Langues.ProjectPeriod: @Model.ProjectPeriod</li>
                    <li>@Resources.Langues.Category: @Model.Category</li>
                    <li>@Resources.Langues.PMName: @Model.PMName</li>
                    <li>@Resources.Langues.ClientName: @Model.ClientName</li>
                    <li>@Resources.Langues.RegisterDate: @Model.RegisterDate</li>
                    <li>@Resources.Langues.EditDate: @Model.EditDate</li>
                    <li>
                        @Resources.Langues.ProjectContents:<br />
                        @Model.ProjectContents
                    </li>
                </ul>

            </p>
        </text>
                );

      tabstrip.Add().Text(Resources.Langues.Comment).Selected(selectComment).Content(
        @<text>
            <form action="@Url.Action("WriteNewComment", "Project")" enctype="multipart/form-data" id="WriteNewCommentForm" method="post" role="form">
                @Html.AntiForgeryToken()
                @Html.HiddenFor(m => m.PrjctId)
                <div class="panel panel-primary">
                    @*<div class="panel-heading"></div>*@
                    <div class="panel-body" style="height: 250px;">
                        <ul class="chat" id="CommentContainer">
                            @foreach (var Commment in Model.Commments)
                            {
                                @Html.Partial("_ProjectCommentLayout", Commment);
                                @*<li class="left clearfix">
                                    @if (Commment.IsModifier)
                                    {
                                        <div class='pull-right modify_@Commment.CommeId'>
                                            <button class="btn btn-info" type="button" onclick="EditComment(@Commment.CommeId)">@Resources.Langues.Edit</button>
                                            &nbsp;|&nbsp;
                                            <button class="btn btn-danger" type="button" onclick="DeleteComment(@Commment.CommeId)">@Resources.Langues.Delete</button>
                                        </div>

                                        <div class='pull-right Save_@Commment.CommeId' style="display:none;">
                                            <button class="btn btn-success" type="button" onclick="SaveComment(@Commment.CommeId)">@Resources.Langues.Save</button>
                                        </div>
                                    }
                                    <span class="chat-img pull-left">
                                        <img src="@Url.Content(Commment.Avatar)" alt="@Commment.Name" class="img-circle img-responsive" style="max-width:50px;" />
                                    </span>
                                    <div class="chat-body clearfix">
                                        <div class="header">
                                            <strong class="primary-font">@Commment.Name</strong>
                                        </div>
                                        <p class='modify_@Commment.CommeId' id='Content_@Commment.CommeId'>
                                            @Commment.Content
                                        </p>
                                        <textarea class='form-control custTextarea Save_@Commment.CommeId' id='Input_@Commment.CommeId' rows="4" style="display:none;">@Commment.Content</textarea>
                                        <br />
                                        <small class="text-muted">
                                            <span class="glyphicon glyphicon-time"></span>@Commment.Time
                                        </small>
                                    </div>
                                </li>*@
                            }
                        </ul>
                    </div>
                    <div class="panel-footer">
                        <div class="input-group">
                            <div class="input-group-addon" id="UploadBtn">+</div>
                            @Html.TextAreaFor(m => m.NewComment, new { @class = "form-control", @rows = "2", @placeholder = Resources.Langues.TypeComment })
                            <span class="input-group-btn">
                                <input type="submit" class="btn btn-warning btn-lg" value="@Resources.Langues.Send" />
                            </span>
                        </div>
                    </div>
                </div>
                @Html.TextBoxFor(m => m.NewCommentAttachment, new { @style = "opacity:0; height:0px;width:0px;display:none;", @type = "file" })
            </form>
        </text>
         );

          tabstrip.Add().Text(Resources.Langues.Member).Selected(selectMember).Content(
            @<text>
                <section class="main-section">
                    <div class="inner-section list-view">
                        <div class="list-view-inner">
                            <span class="searchbox">
                                <input type="text" class="k-input search-textbox" placeholder="@Resources.Langues.SearchPeople">
                            </span>
                            @(Html.Kendo().ListView<HBK.Models.MemberViewModel>()
                .Name("mainWidget")
                .TagName("div")
                .ClientTemplateId("single-contact-template")
                .DataSource(dataSource => dataSource
                    .Model(model => model.Id("Email"))
                    .Read(read => read.Action("Members_Read", "Project", new { PrjctId = Model.PrjctId }))
                )
                .Selectable()
                .Events(e => e
                   .Change("onListViewSelectionChange")
                   .DataBound("onListViewDataBound")
                )
                .HtmlAttributes(new { @class = "contacts-list" })
                            )
                        </div>
                        <div class="single-contact-details k-widget">
                        </div>
                    </div>
                </section>
            </text>
         );
      }))
            </div>
            <div class="col-md-2 CommentAttachment">
                <div class="panel panel-primary" style="height:100%;margin-bottom:0px;">
                    <div class="panel-body" id="FileAttachContainer">
                        @foreach (var item in Model.CommentAttachments)
                        {
                            <a href="@Url.Content(item.DownloadUrl)">@item.Filename</a><br />
                        }
                    </div>
                </div>
            </div>
            <div class="col-md-3 CommentAttachment">
                <div class="panel panel-primary" style="height:100%;margin-bottom:0px;">
                    <div class="panel-body">
                        @foreach (var item in Model.ProjectAttachments)
                        {
                            if (item.isFile)
                            {
                                <a href="@Url.Content(item.Url)">@item.Filename (@(item.FileSize / 8192)KB)</a><br />
                            }
                            else
                            {
                                <a href="@Url.Content(item.Url)" data-fancybox>
                                    <img class="img-thumbnail img-responsive" src="@Url.Content(item.Url)" />
                                </a><br />
                            }
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="myModal" tabindex="-1" role="dialog" data-backdrop="false">
    <div class="modal-dialog  modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">@Resources.Langues.ChangPercent</h4>
            </div>
            <div class="modal-body" id="ModalContent">
                @*@using (Html.BeginForm("Index", "Member", FormMethod.Post, new { @class = "form-horizontal", role = "form", @enctype = "multipart/form-data", @id = "myform" }))
                    {*@
                @*<form action="@Url.Action("Index", "Member")" class="form-horizontal" enctype="multipart/form-data" id="myform" method="post" role="form">
                                        @(Html.Kendo().TabStrip()
                    .Name("tabstrip2")
                    .Events(events => events.Select("onSelect"))
                    .Animation(animation =>
                    animation.Open(effect =>
                        effect.Fade(FadeDirection.In)))
                    .Items(tabstrip2 =>
                    {
                    tabstrip2.Add().Text(Resources.Langues.Information).Selected(true).Content(
                        @<text>
                            @Html.AntiForgeryToken()
                            <input value="True" data-val="true" data-val-required="The IsEditing field is required." id="IsEditing" name="IsEditing" type="hidden">
                            <div class="form-group">
                                <label class="col-md-3 control-label" for="EditAccount.Email">@Resources.Langues.Email :</label>
                                <div class="col-md-9">
                                    <input class="form-control" id="EditAccount_Email" name="EditAccount.Email" readonly="True" type="text" value="">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 control-label" for="EditAccount.FirstName">@Resources.Langues.FirstName: <span class="RequireText">*</span></label>
                                <div class="col-md-9">
                                    <input class="form-control" data-val="true" data-val-required="The FirstName field is required." id="EditAccount_FirstName" name="EditAccount.FirstName" type="text" value="">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 control-label" for="EditAccount.LastName">@Resources.Langues.LastName: <span class="RequireText">*</span></label>
                                <div class="col-md-9">
                                    <input class="form-control" data-val="true" data-val-required="The LastName field is required." id="EditAccount_LastName" name="EditAccount.LastName" type="text" value="">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-3 control-label" for="EditAccount.Tel">@Resources.Langues.Tel: <span class="RequireText">*</span></label>
                                <div class="col-md-9">
                                    <input class="form-control" data-val="true" data-val-required="The Tel field is required." id="EditAccount_Tel" name="EditAccount.Tel" type="text" value="">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 control-label" for="EditAccount.Address">@Resources.Langues.Address: </label>
                                <div class="col-md-9">
                                    <input class="form-control" id="EditAccount_Address" name="EditAccount.Address" type="text" value="">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 control-label" for=".EditAccount.Country">@Resources.Langues.Country: <span class="RequireText">*</span></label>
                                <div class="col-md-9">
                                    <select class="form-control" data-val="true" data-val-required="The Country field is required." id="EditAccount_Country" name="EditAccount.Country">
                                        <option value="">@Resources.Langues.PleaseSelect</option>
                                        @foreach (SelectListItem country in ViewBag.ListCountries)
                                        {
                                            <option value="@country.Value">@country.Text</option>
                                        }
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 control-label" for=".EditAccount.Photo">@Resources.Langues.Photo:</label>
                                <div class="col-md-4">
                                    <img id="EditAccount_OldPhoto" src="~/Content/images/default-avatar.png" class="img-responsive img-thumbnail" alt="@Resources.Langues.Photo" />
                                </div>
                                <div class="col-md-5">
                                    <input class="form-control" id="EditAccount_Photo" name="EditAccount.Photo" type="file" value="" />
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-3 control-label" for="EditAccount.SpecialtyType">@Resources.Langues.SpecialtyType: <span class="RequireText">*</span></label>
                                <div class="col-md-4">
                                     <select class="form-control" data-val="true" data-val-required="The MainSpecialtyType field is required." id="EditAccount_MainSpecialtyType" name="EditAccount.MainSpecialtyType">
                                        <option value="">@Resources.Langues.PleaseSelect</option>
                                        @foreach (SelectListItem country in ViewBag.ListType)
                                        {
                                            <option value="@country.Value">@country.Text</option>
                                        }
                                    </select>
                                </div>
                                <div class="col-md-5">
                                    <select class="form-control" data-val="true" data-val-required="The SpecialtyType field is required." id="EditAccount_SpecialtyType" name="EditAccount.SpecialtyType">
                                        <option value="">@Resources.Langues.PleaseSelect</option>
                                    </select>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-3 control-label" for="EditAccount.SNSSite">@Resources.Langues.SNSSite:</label>
                                <label class="col-md-1" style="color: darkgray; text-align:right;font-size: medium;">
                                    http://
                                </label>
                                <div class="col-md-8">
                                    <input class="form-control" id="EditAccount_SNSSite" name="EditAccount.SNSSite" type="text" value="">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 control-label" for="EditAccount.Recommender">@Resources.Langues.Recommender: <span class="RequireText">*</span></label>
                                <div class="col-md-7">
                                    <input class="form-control" data-val="true" data-val-required="The Recommender field is required." id="EditAccount_Recommender" name="EditAccount.Recommender" type="text" value="">
                                </div>
                                <div class="col-md-2">
                                    <input type="button" class="btn btn-default btn-block" id="btnSearch" value="@Resources.Langues.Search" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 control-label" for="EditAccount.Introduction">@Resources.Langues.Introduction: <span class="RequireText">*</span></label>
                                <div class="col-md-9">
                                    <textarea class="form-control" cols="20" data-val="true" data-val-required="The Introduction field is required." id="EditAccount_Introduction" name="EditAccount.Introduction" rows="7"></textarea>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-3 control-label" for="EditAccount.Career">@Resources.Langues.Career: <span class="RequireText">*</span></label>
                                <div class="col-md-9">
                                    <textarea class="form-control" cols="20" data-val="true" data-val-required="The Career field is required." id="EditAccount_Career" name="EditAccount.Career" rows="7"></textarea>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-3 control-label" for="EditAccount.CareerDuration">@Resources.Langues.CareerDuration: <span class="RequireText">*</span></label>
                                <div class="col-md-9">
                                    <input class="form-control" data-val="true" data-val-number="The field CareerDuration must be a number." data-val-required="The CareerDuration field is required." id="EditAccount_CareerDuration" name="EditAccount.CareerDuration" type="text" value="">

                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-offset-4 col-md-3">
                                    <input type="submit" class="btn btn-danger btn-block" value="@Resources.Langues.Save" />

                                </div>
                                <div class="col-md-3">
                                    <input type="button" class="btn btn-default btn-block" value="@Resources.Langues.Cancel" data-dismiss="modal" aria-label="Close" />
                                </div>
                            </div>
                        </text>
                        );
                    tabstrip2.Add().Text(Resources.Langues.ChangePassword).Selected(!true).Content(
                        @<text>
                            <div class="form-group">
                                <label class="col-md-3 control-label" for="EditAccount.Email">@Resources.Langues.Email:</label>
                                <div class="col-md-9">
                                    <input class="form-control" id="ChangePassword_Email" name="ChangePassword.Email" readonly="True" type="text">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 control-label" for="ChangePassword.OldPassword">@Resources.Langues.CurrentPassword: <span class="RequireText">*</span></label>
                                <div class="col-md-9">
                                    <input class="form-control" data-val="true" data-val-password="Your password must be 6 characters long and contain at least one symbol (!, @@, #, etc)." data-val-password-min="6" data-val-password-nonalphamin="1" data-val-required="The OldPassword field is required." id="ChangePassword_OldPassword" name="ChangePassword.OldPassword" type="password">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 control-label" for="ChangePassword.Password">@Resources.Langues.Password: <span class="RequireText">*</span></label>
                                <div class="col-md-9">
                                    <input class="form-control" data-val="true" data-val-password="Your password must be 6 characters long and contain at least one symbol (!, @@, #, etc)." data-val-password-min="6" data-val-password-nonalphamin="1" data-val-required="The Password field is required." id="ChangePassword_Password" name="ChangePassword.Password" type="password">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 control-label" for="ChangePassword.ConfirmPassword">@Resources.Langues.ConfirmPass: <span class="RequireText">*</span></label>
                                <div class="col-md-9">
                                    <input class="form-control" data-val="true" data-val-equalto="The password and confirmation password do not match." data-val-equalto-other="*.Password" id="ChangePassword_ConfirmPassword" name="ChangePassword.ConfirmPassword" type="password">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-offset-4 col-md-3">
                                    <input type="submit" class="btn btn-danger btn-block" value="@Resources.Langues.Save" />

                                </div>
                                <div class="col-md-3">
                                    <input type="button" class="btn btn-default btn-block" value="@Resources.Langues.Cancel" data-dismiss="modal" aria-label="Close" />
                                </div>
                            </div>
                        </text>
                                );
                    }))
                                    </form>*@
                <form class="form-horizontal" enctype="multipart/form-data" id="myform" role="form">
                <input type="hidden" id="MemberId" value="" />
                    <div class="form-group">
                        <label class="col-md-3 control-label" for="EditAccount.CareerDuration">@Resources.Langues.PercentInProject: <span class="RequireText">*</span></label>
                        <div class="col-md-9">
                            <input class="form-control" data-val="true" data-val-number="The field Your Percent in Project must be a number." data-val-required="The  Your Percent in Project field is required." id="PercentInProject" name="PercentInProject" type="text" value="">
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-4 col-md-3">
                            <input type="button" id="updatePercent" class="btn btn-danger btn-block" value="@Resources.Langues.Save" />

                        </div>
                        <div class="col-md-3">
                            <input type="button" class="btn btn-default btn-block" value="@Resources.Langues.Cancel" data-dismiss="modal" aria-label="Close" />
                        </div>
                    </div>
                </form>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">

        $("#WriteNewCommentForm").submit(function(e)
        {

            var formObj = $(this);
            var formURL = formObj.attr("action");
            //console.log("URL: ",formURL);
            var formData = new FormData(this);
            //console.log("Data : ",formData);
            $.ajax({
                url: formURL,
                type: 'POST',
                data:  formData,
                mimeType:"multipart/form-data",
                contentType: false,
                cache: false,
                processData:false,
                dataType: "Json",
                success: function (html) {
                    $('#NewComment').val('');
                    $("#CommentContainer").append(html.Comment);
                    //console.log("File: ",html.CommentAttach);
                    //if(html.CommentAttach != null){
                    //    //console.log("File: ",html.CommentAttach);
                    //    $('#FileAttachContainer').append("<a id="+html.CommentAttach.FileID+" href="+html.CommentAttach.DownloadUrl+">"+html.CommentAttach.Filename+"</a><br />");
                    //}
                },
                error: function(jqXHR, textStatus, errorThrown)
                {
                }
            });
            e.preventDefault(); //Prevent Default action.
            //e.unbind();
        });

        var PrjctId = @Model.PrjctId;
        //var CommunicationPage = ;
        $("#UploadBtn").click(function () {
            //$("#NewCommentAttachment").click();
        });
        $("[data-fancybox]").fancybox({
            // Options will go here
        });

        $("#btnCommunDel").click(function () {
            bootbox.confirm({
                message: '@Resources.Langues.AreYouSure',
                buttons: {
                    confirm: {
                        label: 'Yes',
                        className: 'btn-danger'
                    },
                    cancel: {
                        label: 'No',
                        className: 'btn-success'
                    }
                },
                callback: function (callback) {
                    if (callback) {
                        $.blockUI();
                        $.post('@Url.Action("Delete", "Project")',{ id:PrjctId }, function (result) {
                            if (result) {
                                window.location.href = '@Url.Action("Index", "Home")';
                            }else{
                                bootbox.alert('@Resources.Langues.ContactAdmin');
                            }
                        })
                        .fail(function () {
                            bootbox.alert('@Resources.Langues.ContactAdmin');
                        })
                        .always(function () {
                            $.unblockUI();
                        });
                    }
                }
            });

        });
        function EditComment(CommeId) {
            $(".modify_" + CommeId).hide();
            $(".Save_" + CommeId).show();
        }

        function SaveComment(CommeId) {
            var newComment = $("#Input_" + CommeId).val();
            if (!newComment.trim()) {
                $("#Input_" + CommeId).addClass('input-validation-error');
            }else {
                $.blockUI();
                $.post('@Url.Action("EditComment", "Project")',{ id:CommeId, Content: newComment}, function (result) {
                    if (result) {
                        $("#Input_" + CommeId).removeClass('input-validation-error');
                        $(".modify_" + CommeId).show();
                        $(".Save_" + CommeId).hide();
                        $("#Content_" + CommeId).text(newComment);
                    }else{
                        bootbox.alert('@Resources.Langues.ContactAdmin');
                    }
                })
                .fail(function () {
                    bootbox.alert('@Resources.Langues.ContactAdmin');
                })
                .always(function () {
                    $.unblockUI();
                });
            }
        }
        function DeleteComment(CommeId) {
            bootbox.confirm({
                message: '@Resources.Langues.AreYouSure',
                buttons: {
                    confirm: {
                        label: 'Yes',
                        className: 'btn-danger'
                    },
                    cancel: {
                        label: 'No',
                        className: 'btn-success'
                    }
                },
                callback: function (callback) {
                    if (callback) {
                        $.blockUI();
                        $.post('@Url.Action("DeleteComment", "Project")',{ id:CommeId }, function (result) {
                            if (result.success) {
                                $('#CommentContainer').find('li[id='+CommeId+']').remove();
                                if(result.CommentAttach != null)
                                {
                                    $('#FileAttachContainer').find('a[id='+result.CommentAttach.FileID+']').remove();
                                }
                            }else{
                                bootbox.alert('@Resources.Langues.ContactAdmin');
                            }
                        })
                        .fail(function () {
                            bootbox.alert('@Resources.Langues.ContactAdmin');
                        })
                        .always(function () {
                            $.unblockUI();
                        });
                    }
                }
            });
        }

        function onSelect(e) {
            if ($(e.item).find("> .k-link").text() == '@Resources.Langues.ChangePassword') {
                $("#IsEditing").val("False");
            } else {
                $("#IsEditing").val("True");
            }
        }
        $("#btnSearch").click(function () {
            $.blockUI({ baseZ: 20000 });
            $.post('@Url.Action("DoesEmailExist", "Account")', { email: $("#EditAccount_Recommender").val() }, function (result) {
                if (!result) {
                    console.log("result", result);
                    bootbox.confirm({
                        message: $("#EditAccount_FirstName").val() + " " + $("#EditAccount_LastName").val() + " " + '@Resources.Langues.IsThisCorrect',
                        buttons: {
                            confirm: {
                                label: 'Yes',
                                className: 'btn-success'
                            },
                            cancel: {
                                label: 'No',
                                className: 'btn-danger'
                            }
                        },
                        callback: function (callback) {
                            if (!callback) {

                                $("#EditAccount_Recommender").val("");
                            }
                        }
                    });
                } else {
                    bootbox.alert($("#EditAccount_FirstName").val() + " " + $("#EditAccount_LastName").val() + " " + '@Resources.Langues.NotRegister');
                    $("#EditAccount_Recommender").val("");
                }
            })
            .fail(function () {
                bootbox.alert('@Resources.Langues.ContactAdmin');
                $("#EditAccount_Recommender").val("");
            })
            .always(function () {
                $.unblockUI();
            });
        });
        $(function () {
            $("#EditAccount_MainSpecialtyType").change(function () {
                var selectedType = $('option:selected', this).val();
                var SpecialtyType = $("#EditAccount_SpecialtyType");
                if (selectedType) {
                    $.blockUI({ baseZ: 20000 });
                    $.post('@Url.Action("GetSpecialtyType", "Account")', { MainSpecialtyType: selectedType }, function (result) {
                        $.each(result, function () {
                            SpecialtyType.append($("<option />").val(this.value).text(this.text));
                        });
                        SpecialtyType.prop("disabled", false);
                    })
                    .fail(function () {
                        bootbox.alert('@Resources.Langues.ContactAdmin');
                    })
                    .always(function () {
                        $.unblockUI();
                    });
                } else {
                    SpecialtyType.empty();
                    SpecialtyType.append($("<option />").val("").text('@Resources.Langues.PleaseSelect'));
                    SpecialtyType.prop("disabled", true);
                }
            });
        });
        $("#updatePercent").click(function () {
            if ($("#myform").valid()) {
                $.blockUI();
                $.post('@Url.Action("UpdatePercent", "Project")', { MemberId: $("#MemberId").val(), PrjctId: PrjctId, Percent: $("#PercentInProject").val() }, function (result) {
                    if (result) {
                        $("#mainWidget").data("kendoListView").dataSource.read();
                        $('#myModal').modal('hide');
                    } else {
                        bootbox.alert('@Resources.Langues.ContactAdmin');
                    }
                })
                .fail(function () {
                    bootbox.alert('@Resources.Langues.ContactAdmin');
                })
                .always(function () {
                    $.unblockUI();
                });
            }
        });
    </script>
}